@screen-color: rgb(42, 54, 59);
@orange: rgb(247, 186, 134);
@red: rgb(236, 71, 92);
@pink: rgb(246, 129, 122);

.flex-display(@display: flex) {
    display: ~"-webkit-@{display}";
    display: ~"-moz-@{display}";
    display: ~"-ms-@{display}box"; // IE10
    display: ~"-ms-@{display}"; // IE11
    display: @display; 
}

.flex-justify(@justifyStyle) {
    -webkit-justify-content: @justifyStyle;
    justify-content: @justifyStyle;
}

.flex-wrap(@wrap: nowrap) {
    -webkit-flex-wrap: @wrap;
       -moz-flex-wrap: @wrap;
        -ms-flex-wrap: @wrap;
            flex-wrap: @wrap;
}  

.flex(@columns: initial) {
    -webkit-flex: @columns;
       -moz-flex: @columns;
        -ms-flex: @columns;
            flex: @columns;
}

.flex-direction(@direction: row) {
    -webkit-box-orient: @direction;
    -webkit-box-direction: @direction;
    -webkit-flex-direction: @direction;
    -moz-flex-direction: @direction;
    -ms-flex-direction: @direction;
    flex-direction: @direction;
}

.align-items(@align: stretch) {
    -webkit-align-items: @align;
       -moz-align-items: @align;
        -ms-align-items: @align;
         -ms-flex-align: @align;
            align-items: @align;
}

body{
    .flex-display();
    .flex-justify(center);
    .align-items(flex-start);
}
.container{
    .flex-display();
    .flex-wrap(wrap);
    .flex(0 1 15%);
}
.buttons,.screen{
    .flex-display();
    .flex-wrap(wrap);
    .flex(0 1 100%);
}
.screen{
    height: 200px;
    .flex-justify(center);
    .align-items(center);
    font-size: 25px;
    background: @screen-color;
    color:grey;
    .flex-direction(column);
    padding-left: 30%;

    .result {
        font-size: 55px;
        color:#fff;
    }
}

.item{
    .flex-display();
    .flex(0 1 25%);
    .flex-justify(center);
    .align-items(center);
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: @pink;
    font-size:22px;
}

.item:first-child,
.item:nth-child(2) {
    .flex(0 1 37.5%);
    background: @red;
}

.item:nth-child(3),
.item:nth-child(6),
.item:nth-child(10), 
.item:nth-child(14),
.item:last-child 
{
    background:@orange;
}

.item:nth-child(5) {
    .flex(0 1 50%);
}